@{
    ViewBag.Title = "GoPiGo Watcher";
}

<div class="row">
	<div class="col-md-12">
		<h2>GoPiGo Watcher</h2>
		<p>
			Received commands:
		</p>
		<p id="watcherCommands"></p>
	</div>
</div>

@section scripts
{
	@Scripts.Render("~/bundles/gopigo")
	<script src="~/signalr/hubs"></script>
}
