@{
    ViewBag.Title = "GoPiGo Control Center";
}

<div class="row">
	<div class="col-md-12">
		<h2>Control Center</h2>
		<p>
			Use the buttons to control the GoPiGo car.
		</p>
		<p>
			<a class="btn btn-default" id="btnForward">Forward</a>
			<a class="btn btn-default" id="btnRight">Right</a>
			<a class="btn btn-default" id="btnBackward">Backward</a>
			<a class="btn btn-default" id="btnLeft">Left</a>
			<a class="btn btn-default" id="btnStop">Stop</a>
			<a class="btn btn-default" id="btnToggleLeds">Toggle LED's</a>
			<a class="btn btn-default" id="btnTakePicture">Take picture</a>
		</p>
		<p id="status"></p>
	</div>
</div>

@section scripts
{
	@Scripts.Render("~/bundles/gopigo")
	<script src="~/signalr/hubs"></script>
}
