@{
	ViewBag.Title = "GoPiGo Control Center";
}

<div class="row">
	<div class="col-md-12">
		<h2>Control Center</h2>
		<p>
			Use the buttons to control the GoPiGo car.
		</p>
	</div>
</div>
<div width="200">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 text-center">
			<p>
				<a class="btn btn-info" id="btnForward">Forward</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 text-center">
			<p>
				<a class="btn btn-info" id="btnLeft">Left</a>
			</p>
		</div>
		<div class="col-xs-4 text-center">
			<p>
				<a class="btn btn-danger" id="btnStop">Stop</a>
			</p>
		</div>
		<div class="col-xs-4 text-center">
			<p>
				<a class="btn btn-info" id="btnRight">Right</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4 text-center">
			<p>
				<a class="btn btn-info" id="btnBackward">Backward</a>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p>
			<a class="btn btn-success" id="btnToggleLeds">Toggle LED's</a>
			<a class="btn btn-success" id="btnTakePicture">Take picture</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p id="status">Connecting...</p>
		<p id="carStatus">Waiting for car to connect...</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<img src="" id="picture"/>
	</div>
</div>


@section scripts
{
	@Scripts.Render("~/bundles/gopigo")
	<script src="~/signalr/hubs"></script>
}
