@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>GoPiGo Project By Team Monte Carlo</h1>
	<p>Choose one of the options below.</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Control Center</h2>
        <p>
            Open the Control Center to drive the GoPiGo car.
        </p>
        <p><a class="btn btn-default" href="~/ControlCenter">Control Center</a></p>
    </div>
    <div class="col-sm-6">
        <h2>GoPiGo Watcher</h2>
        <p>Open the GoPiGo Watcher page to see the commands being sent.</p>
        <p><a class="btn btn-default" href="~/GoPiGoWatcher">GoPiGo Watcher</a></p>
    </div>
</div>