@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>GoPiGo Project By Team Monte Carlo</h1>
	<p>Kies hieronder een van de opties.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Control Center</h2>
        <p>
            Open het Control Center om de GoPiGo te bedienen.
        </p>
        <p><a class="btn btn-default" href="~/ControlCenter">Control Center</a></p>
    </div>
    <div class="col-md-6">
        <h2>GoPiGo Watcher</h2>
        <p>Open de GoPiGo Watcher pagina om te zien welke commando's er worden gestuurd.</p>
        <p><a class="btn btn-default" href="~/GoPiGoWatcher">GoPiGo Watcher</a></p>
    </div>
</div>